<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Section groups, and stuff like userSettings, etc  -->
  </configSections>
  <connectionStrings>
    <add name="minfinlocaldb" connectionString="Data Source=WS003\SQLEXPRESS14;Initial Catalog=minfinlocaldb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>